<footer class="center">
  <div class="measure">
    <small>
      <p> © 2016 - Jubin Jose. </p>
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<script type="text/javascript">
        // <![CDATA[
        cc.initialise({
            cookies: {
                social: {},
                analytics: {},
                advertising: {},
                necessary: {}
            },
            settings: {
                consenttype: "implicit"
            }
        });
        // ]]>
    </script>

